*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
}

.browser-container{
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    border: 2px solid #004AAD;
}

.lupa{
    width: 36px;
    height: 34px;
}

#menu li input, input:focus-visible{
    width: 864px;
    color: #004AAD;
    border: none;
    outline: none;
    border-radius: 11px;
}

#menu li input::placeholder{
    color: #004AAD;
}

#submenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #004AAD;
    border-top: 1px solid #004AAD;
    margin-bottom: 0px;
}

#submenu a, a:visited{
    color: #004AAD;
    text-decoration: none;
}

#submenu li:nth-child(2){
    margin-left: 85px;
    margin-right: 85px;
}

#submenu li:nth-child(3){
    margin-right: 85px;
}

/* Menu Lateral */

#sidebar {
    padding: 0;
    position: fixed;
    top: 0vh;
    left: 0;
    z-index: 999;
    max-width: 300px;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px -4px #000;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
    background: #fff;

}

#sidebar h1 {
    padding: 25px;

    color: #004095;
}

#sidebar.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.sidebar_content {
    pointer-events: none;
}

.sidebar_content a {
    pointer-events: all;

    text-decoration: none;

    color: #004AAD;
}

.sidebar_content a:hover {
    text-decoration: underline;

    color: #004AAD;
}

.sidebar_body {
    border-top: 1px dashed var(--text-color);
    border-bottom: 1px dashed var(--text-color);
}

.side_navlinks ul {
    display: grid;
    gap: 2rem;
}

.side_navlinks li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
}

.side_navlinks a:hover {
    opacity: 1;
}

.sidebar_toggler {
    top: 5vh;
    left: 4vw;
    width: 1.75rem;
    height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}

.sidebar_toggler span {
    background-color: #004095;
    width: 100%;
    height: 2.4px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.logo-menu {
    display: flex;
    align-items: center;
    gap: 34px;
}

.user-carrinho {
    display: flex;
    gap: 20px;
}

#user-icon, #user-name {
    cursor: pointer;
}


.user-dropdown {
    position: absolute;

    display: none;

    margin-top: 3px;
    margin-left: -14px;

    width: 150px;
    height: 150px;

    background: #fffffff6;
    border: 1px solid #004095;
    border-radius: 10px;

    z-index: 900;

    padding: 20px;

}

.list-search {
    display: flex;
    gap: 20px;
    padding-left: 0px;
}

.list-search a {
    text-decoration: none;
    color: #004095;
}

/* Estilo para o texto dentro do link */
.list-search a #nome-search {
    text-decoration: none;
    margin-top: 10px;
    color: #004095;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* Para garantir que o hover também não terá decoração */
.list-search a:hover {
    text-decoration: none;
}

.list-search a:hover #nome-search {
    text-decoration: none;
}

#wrap-search {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

#link-search {
    width: 100%;
}

.user-dropdown.active {
    display: block;
}

.user-dropdown li a{
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.drop-perfil li a:hover{
    text-decoration: underline;
}

#user {

    color: #004AAD;

    opacity: 0.8;
}

/*carrinho*/
#carrinho-lateral {
    position: fixed;
    top: 0vh;
    right: 0;
    z-index: 999;
    max-width: 350px;
    width: 80%;
    height: 100%;
    padding: 2rem;
    box-shadow: 0 10px 20px -4px #000;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
    background: #fff;
}

#carrinho-lateral h2{
    color: #004AAD;
}

#carrinho-lateral p{
    margin-top: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;

    color: #6b6b6b;
}

#carrinho-lateral.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/*search box*/
.buscar-produto {
    padding: 1rem;

    display: none;
    flex-direction: column;

    position: absolute;

    margin-top: 10px;
    height: 50%;
    width: 925px;

    border: 2px solid #004AAD;
    border-radius: 10px;

    background: #fffffff6;

    z-index: 999;

    overflow-y: scroll;
}

.buscar-produto.active {
    display: block;
}

.buscar-produto li ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #004AAD;
}


.submenu-itens:hover {
    color: #004100;
}

.drop-perfil {
    color: #004AAD;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 20px;
}

.my-account {
    font-family: Arial, Helvetica, sans-serif;
    color: #004AAD;
    font-size: 30px;
}